
* {
  box-sizing: border-box;
}
 
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Raleway', sans-serif;}


header {
  padding: 20px 0;
  background-color: #333;
  color: #f2f2f2;
  z-index: 10;
  position: absolute;
  width: 100%;
}
  
.css-slider-wrapper {
  display: block;
  background: #FFF;
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

/* Slider */
.slider {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 1;
  z-index: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-content: center;
  -webkit-transition: -webkit-transform 1600ms;
  transition: -webkit-transform 1600ms, transform 1600ms;
  -webkit-transform: scale(1);
  transform: scale(1);
}
 
/* Slides Background Color */
.slide-1 {
  background-image: url('Resources/images/BusyEcoliHorizontal.jpg');
  justify-content: center;
  background-size: auto 100%;
background-repeat: no-repeat;
background-color: #FDE5A9;
background-position: center;
}

.explore-button {
  background-color: #EE4B2B;
  border-radius: 8px;
  margin: 12px;
  padding: 20px;
  border-style: unset;
}

#explore-more-button-link {
  color: white;
}

header .row,
footer .row {
  display: flex;
  align-items: center;
}

h1 {
  font-weight: 700;
  margin: 0;
}

nav {
  display: flex;
  justify-content: flex-end;
}


/* Slider Inner Slide Effect */
.slider > img {
  position: absolute;
  right: 10%;
  bottom: 0;
  height: 100%;
  opacity: 0;
  -webkit-transform: translateX(500px);
  transform: translateX(500px);
}
 
.slide-1 > img {
  right: 0;
}

/* Animations */
.slider > img {
  -webkit-transition: opacity 800ms, -webkit-transform 800ms;
  transition: transform 800ms, opacity 800ms;
  -webkit-transition-delay: 1.2s; /* Safari */
  transition-delay: 1.2s;
}
 

/* Page content */
.content {
  padding: 16px;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 60px;
}

a {
  padding: 0 20px;
  margin: 0;
}

.jumbotron {
  display: flex;
  align-items: center;
  background-image: url("Resources/images/bacteria.jpeg");
  background-size: cover;
  color: #ffffff;
  height: 200px;
  padding-top: 144px;
}

.jumbotron h2 {
  font-size: 60px;
  font-weight: 700;
  margin: 0;
  color: #fff;
}

.jumbotron h3 {
  margin: 0 0 20px;
  color: #fff;
}

section .row img {
  margin: 30px 25%;
  width: 50%;
}

p {
  text-align: center;
}

.col-md-6 {
  margin: 0 0 30px;
}

.btn.btn-primary {
  border-radius: 2px;
  border: 0px;
  color: #fbd1d5;
  background-color: #ffffff;
}

.btn.btn-primary:hover {
  color: #ffffff;
  background-color: #fbd1d5;
}

.btn-secondary {
  background-color: #2a70e0;
  color: #ffffff;
  margin: 0 0 30px;
}

.portrait {
  width:  350px;
  height: 300px;
}

* {box-sizing:border-box}

/* Front Page Text */
.text-block {
  background-color: #add8e6;
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
}


/* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: #add8e6;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #EE4b2b;
  color: #FFFFFF;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
}

.collapsible:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: white;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}

img {
  border-radius: 8px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#contact {
float: right;
 margin: 0 15px 0 0;
}


li{
  margin: 15px 0;
}

figure img {
  width: 100%;
  height: auto;
}

figure {
  margin-bottom: 30px;
}

footer {
  font-size: 12px;
  padding: 20px 0;
  background-color: #333;
}

footer .col-sm-8 {
  display: flex;
  justify-content: flex-end;
}

footer ul {
  list-style: none;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 50px 0px;
  min-height: 100%;
}

.nav-flex-row {
  display: flex; 
  flex-direction:row;
}

#contact-section {
  max-height: 100vh;
  min-height: 70vh;
  align-items: center;
  justify-content: center;
  display: flex;
}


#toggle {
  display: none;
}

/**
  Hamburger
**/

.hamburger {
  position: absolute;
  top: 5em;
  right: 5%;
  margin-left: -2em;
  margin-top: -45px;
  width: 2em;
  height: 45px;
  z-index: 5;
}

.hamburger div {
  position: relative;
  width: 3em;
  height: 7px;
  border-radius: 3px;
  background-color: #add8e6;
  margin-top: 8px;
  transition: all 0.3s ease-in-out;
}

/**
Nav Styles
**/

.nav {
  position: fixed;
  width: 25%;
  height: 100%;
  background-color: #EE4b2b;
  top: 0;
  right: -100%;
  bottom: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  z-index: 2;
}

.nav-wrapper {
  position: relative;
  overflow: hidden;
  overflow-y: auto;
  height: 100%;
  width: 100%
}

nav {
  text-align: left;
  margin-left: 10%;
}

nav a {
  position: relative;
  text-decoration: none;
  color: #FFFFFF;
  font-size: 2em;
  display: flex;
  flex-direction: column;
  margin-top: 1.25em;
  transition: color 0.2s ease-in-out;
  letter-spacing: 1px;
}

nav a:before {
  content: '';
  height: 0;
  position: absolute;
  width: 0.25em;
  background-color: white;
  left: -0.5em;
  transition: all 0.2s ease-in-out;
}

nav a:hover {
  color: white;
}

nav a:hover:before {
  height: 100%;
}

/**
Animations
**/

#toggle:checked + .hamburger .top-bun {
  transform: rotate(-45deg);
  margin-top: 25px;
}

#toggle:checked + .hamburger .bottom-bun {
  opacity: 0;
  transform: rotate(45deg);
}

#toggle:checked + .hamburger .meat {
  transform: rotate(45deg);
  margin-top: -7px;
}

#toggle:checked + .hamburger + .nav {
  right: 0;
}


/* People Page */
.flex-col-people {
  display: flex;
  flex-direction: column;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 32px;
}

.flex-row-people {
  display: flex;
  flex-direction: row;
}

.flex-col-description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 16px;
}

.flex-col-description p {
  text-align: unset;
}

.flex-col-description a {
  padding: unset;
}

/* News  */
.news-post {
  border-bottom: solid #add8e6;
  width: 80%;
  margin-left: 10%

}

.date-news-post {
  color: #add8e6;
}

.news-post p{
  text-align: left;
}

.news-archive-link {
  color: #add8e6;
  display: flex;
  justify-content: center;
}

/* media query for smaller screens */
@media screen and (max-width: 768px) {
  .nav {
    width: 100%;
  }

  .flex-row-people, .flex-row{
    display: flex;
    flex-direction: column !important;
  }

  .flex-col-description {
    margin-left: 0px;
  }

  .slide-1 {
    background-image: url('Resources/images/BusyEcoli.jpg');
    background-size: cover;
    justify-content: center;
  }
}

